.formListWrapper {
  border: 1px solid black;
  padding: 1rem 1rem 1rem 3rem;
  width: auto;
  border-radius: 1rem;
  margin: 1rem;
}

.userInputs {
  margin-left: 0.5rem;
  color: blue;
  font-weight: 600;
}
